<div class="container">
    <div class="card">
        <div class="card-header">
            <h6>Add New Message</h6>
        </div>
        <div class="card-body">
            <form novalidate [formGroup]='messageForm' (ngSubmit)='addMessage()'>
                <!-- Message -->
                <div class="row form-group md-2">
                    <label for="message" class="col-md-2 col-form-label">Message</label>
                    <div class="col-md-8">
                        <input class="form-control" placeholder="Message" id="message" type="text"
                            formControlName='message'>
                    </div>
                </div>
                <!-- sign up button -->
                <div class="row form-group md-2">
                    <div class="offset-md-2 col-md-4 ">
                        <button class="btn btn-primary mr-3" type="submit" style="width: 80px;"
                            [disabled]="!messageForm.valid">add</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div>
        <app-message-card [data]="Messages" [Flage]=true ></app-message-card>
    </div>
</div>

